{% extends '@AropixelAdmin/Form/base.html.twig' %}

{% block header_top_right %}{% endblock %}
{% block header_bottom %}{% endblock %}

{% block asset_manager %}
    {% if aropixel_admin_entry_available %}
        {{ importmap() }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link href="{{ asset('bundles/aropixeladmin/theme_ll/js/plugins/nestable/jquery-nestable/jquery.nestable.css') }}" rel="stylesheet" type="text/css">#}
    <link href="{{ asset('bundles/aropixelmenu/css/menu.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jquery.mjs.nestedSortable.js') }}"></script>
    <script type="module" src="{{ asset('bundles/aropixeladmin/js/module/modal-dyn/modal-dyn.js') }}"></script>
    {% if not aropixel_admin_entry_available %}
        <script src="{{ asset('bundles/aropixelmenu/js/menu_controller.js') }}" type="module"></script>
    {% endif %}
{% endblock %}

{% block body %}

    <template id="template_row">
        {% include '@AropixelMenu/menu/item.html.twig' %}
    </template>


    <div class="row"
         data-controller="aropixel-menu"
         data-aropixel-menu-max-level-value="{{ menus[type_menu].depth }}"
         data-aropixel-menu-url-value="{{ path('aropixel_menu_save') }}"
         data-aropixel-menu-type-value="{{ type_menu }}"
         data-aropixel-menu-name-value="{{ menus[type_menu].name }}"
         data-aropixel-menu-required-title-value="{% trans %}aropixel.menu.form.modals.required.title{% endtrans %}"
         data-aropixel-menu-required-message-value="{% trans %}aropixel.menu.form.modals.required.message{% endtrans %}"
         data-aropixel-menu-strict-mode-value="{{ menus[type_menu].strict_mode ? 'true' : 'false' }}"
    >

        <div class="col-md-8">


            <div class="card" id="panelMenu">

                {% block form_menu_header %}
                    <div class="card-header">
                        <h4 class="card-heading">{{ menus[type_menu].name }}</h4>
                        <div class="card-header-action">
                            <button type="button" class="btn btn-primary heading-btn"
                                    data-aropixel-menu-target="saveButton"
                                    data-action="click->aropixel-menu#saveMenu"
                            >
                                {% trans %}aropixel.menu.form.save{% endtrans %}
                            </button>
                        </div>
                    </div>
                {% endblock %}

                <div class="card-body">

                    <p class="text-muted">{% trans %}aropixel.menu.form.instruction{% endtrans %}</p>
                </div>
                <ol class="menu" id="menu" data-aropixel-menu-target="menu">
                    {% for item in menu %}
                        {{ include ('@AropixelMenu/menu/item.html.twig', {'item': item, 'menuManager': menuManager}) }}
                    {% endfor %}
                </ol>

            </div>
        </div>

        <div class="col-md-4">

            {% for availableSource in availableSources %}
                {% set source = availableSource.source %}

                <div class="card" id="panel-{{ source.name }}">
                    <div class="card-header">
                        {% set titleCard = 'aropixel.menu.form.panels.' ~ source.name ~ '.title' %}
                        <h4 class="card-title">{{ titleCard | trans }}</h4>
                    </div>
                    <div class="card-body">
                        {% include source.selectionTemplate with {'source': source, 'items': availableSource.items} %}
                    </div>
                    <div class="card-footer pt-0 text-right">
                        <button type="button"
                                class="btn btn-small btn-primary add-input-ressource"
                                data-action="click->aropixel-menu#addInputResource"
                        >
                            {% trans %}aropixel.menu.form.add{% endtrans %}
                        </button>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

    <!-- Modal with basic title -->
    <div id="modal_please_select" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h5 style="margin-bottom: 0">{% trans %}aropixel.menu.form.modals.empty.title{% endtrans %}</h5>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}aropixel.menu.form.understood{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal with basic title -->

    <!-- Modal with basic title -->
    <div id="modal_edit" class="modal fade" data-aropixel-menu-target="modalEdit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %}aropixel.menu.form.modals.edit.title{% endtrans %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>{% trans %}aropixel.menu.form.modals.edit.fields.text{% endtrans %}</label>
                        <input type="text" name="item_label" placeholder="{% trans %}aropixel.menu.form.modals.edit.fields.text{% endtrans %}" class="form-control" data-aropixel-menu-target="itemLabel" data-action="keyup->menu#handleEditKeyup">
                    </div>

                    <div class="form-group">
                        <label>{% trans %}aropixel.menu.form.modals.edit.fields.link{% endtrans %}</label>
                        <input type="text" name="item_link" placeholder="{% trans %}aropixel.menu.form.modals.edit.fields.link{% endtrans %}" class="form-control" data-aropixel-menu-target="itemLink" data-action="keyup->menu#handleEditKeyup">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" data-bs-dismiss="modal">{% trans %}aropixel.menu.form.cancel{% endtrans %}</button>
                    <button type="button" class="btn btn-primary" data-aropixel-menu-target="validEdit" data-action="click->aropixel-menu#submitEdit">{% trans %}aropixel.menu.form.ok{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal with basic title -->


{% endblock %}

